$blue: #2674b8;
$green: #7db320;
$orange: #ef8908;

body {
    background: #ffffff url("../assets/images/fondo.png") no-repeat center center/cover;
    font-family: "Work Sans";
}

.contenedor-principal {
    font-family: "Work Sans";
}

.btn {
    &.btn-up {
        background: #ffffff url("../assets/images/walk_up.png") no-repeat center center/cover;
        &:focus {
            background: #ffffff url("../assets/images/walk_up1.png") no-repeat center center/cover;
        }
    }

    &.btn-left {
        background: #ffffff url("../assets/images/walk_left.png") no-repeat center center/cover;
        &:focus {
            background: #ffffff url("../assets/images/walk_left1.png") no-repeat center center/cover;
        }
    }

    &.btn-right {
        background: #ffffff url("../assets/images/walk_right.png") no-repeat center center/cover;
        &:focus {
            background: #ffffff url("../assets/images/walk_right1.png") no-repeat center center/cover;
        }
    }

    &.btn-down {
        background: #ffffff url("../assets/images/walk_down.png") no-repeat center center/cover;
        &:focus {
            background: #ffffff url("../assets/images/walk_down1.png") no-repeat center center/cover;
        }
    }

    &.btn-go {
        background: #ffffff url("../assets/images/go.png") no-repeat center center/cover;

        &:focus {
            background: #ffffff url("../assets/images/go2.png") no-repeat center center/cover;
        }
    }

    &.btn-delete {
        background: #ffffff url("../assets/images/trash.png") no-repeat center center/cover;
    }

    &.btn-restart {
        background: #ffffff url("../assets/images/restart.png") no-repeat center center/cover;
    }

    &.btn-mute {
        background: #ffffff url("../assets/images/mute.png") no-repeat center center/cover;
    }

    &.btn-nomute {
        background: #ffffff url("../assets/images/nomute.png") no-repeat center center/cover;
    }

    &.btn-arrow {
        background: #ffffff url("../assets/images/arrow.png") no-repeat center center/cover;
    }

    &.btn-sound {
        background: #ffffff url("../assets/images/sound.png") no-repeat center center/cover;
        animation-name: bounceIn;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    &.btn-no-sound {
        background: #ffffff url("../assets/images/no-sound.png") no-repeat center center/cover;
        animation-name: bounceIn;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    &.audio-modal{
        height: 70px;
        width: 70px;
    }

    &:focus {
        box-shadow: 0;
    }

    &.control-btn {
        height: 80px;
        width: 80px;
        &:focus {
            box-shadow: none;
        }
    }
}

.modal {
    font-family: "Work Sans";
    .bg-blue {
        background-color: $blue;
        color: white;
    }

    .bg-green {
        background-color: $green;
        color: white;
        border: 0;
    }

    .bg-orange {
        background-color: $orange;
        color: white;
    }

    .tigrillo-error {
        max-width: 80%;
    }

    .tigrillo-tuto {
        max-width: 60%;
    }
}

#puntuacion {
    .estrella {
        width: 40px;
    }
}

#score {
    .estrella {
        width: 30px;
    }
}

@keyframes bounceIn {
    50% {
        opacity: 0.9;
        transform: scale(1.1);
    }
    80% {
        opacity: 1;
        transform: scale(0.89);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
    }
}

#arrow-container {
    img {
        width: 50px;
        height: 50px;
    }
}

.correcto {
    color: green;
}

.incorrecto {
    color: darkred;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    .bottom0 {
        bottom: 0;
        position: absolute !important;
    }

    .contenedor-principal{
        min-height: 100vh;
    }
}
