$blue: #2674b8;
$green: #7db320;
$orange: #ef8908;

body {
    background: #ffffff url("../assets/images/fondo.png") no-repeat center center/cover;
    font-family: monospace;
}

.contenedor-principal {
    font-family: monospace;
}

.btn {
    &.btn-up {
        height: 80px;
        width: 80px;
        background: #ffffff url("../assets/images/walk_up.png") no-repeat center center/cover;
    }

    &.btn-left {
        height: 80px;
        width: 80px;
        background: #ffffff url("../assets/images/walk_left.png") no-repeat center center/cover;
    }

    &.btn-right {
        height: 80px;
        width: 80px;
        background: #ffffff url("../assets/images/walk_right.png") no-repeat center center/cover;
    }

    &.btn-down {
        height: 80px;
        width: 80px;
        background: #ffffff url("../assets/images/walk_down.png") no-repeat center center/cover;
    }

    &.btn-go {
        height: 80px;
        width: 80px;
        background: #ffffff url("../assets/images/go.png") no-repeat center center/cover;
    }

    &.btn-delete {
        height: 80px;
        width: 80px;
        background: #ffffff url("../assets/images/trash.png") no-repeat center center/cover;
    }

    &.btn-restart {
        height: 80px;
        width: 80px;
        background: #ffffff url("../assets/images/restart.png") no-repeat center center/cover;
    }

    &.btn-mute {
        height: 80px;
        width: 80px;
        background: #ffffff url("../assets/images/mute.png") no-repeat center center/cover;
    }
    
    &.btn-nomute {
        height: 80px;
        width: 80px;
        background: #ffffff url("../assets/images/nomute.png") no-repeat center center/cover;
    }

    &.btn-arrow {
        height: 80px;
        width: 80px;
        background: #ffffff url("../assets/images/arrow.png") no-repeat center center/cover;
    }

    &.btn-sound {
        height: 60px;
        width: 60px;
        background: #ffffff url("../assets/images/sound.png") no-repeat center center/cover;
        animation-name: bounceIn;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    &.btn-no-sound {
        height: 60px;
        width: 60px;
        background: #ffffff url("../assets/images/no-sound.png") no-repeat center center/cover;
        animation-name: bounceIn;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    &:focus {
        box-shadow: 0;
    }
}

.modal {
    font-family: monospace;
    .bg-blue {
        background-color: $blue;
        color: white;
    }

    .bg-green {
        background-color: $green;
        color: white;
        border: 0;
    }

    .bg-orange {
        background-color: $orange;
        color: white;
    }

    .tigrillo-error {
        max-width: 80%;
    }

    .tigrillo-tuto {
        max-width: 60%;
    }
}

#puntuacion{
    .estrella{
        width: 40px;
    }
}

#score{
    .estrella{
            width: 30px;
        
        
    }
}

@keyframes bounceIn {
    50% {
        opacity: 0.9;
        transform: scale(1.1);
    }
    80% {
        opacity: 1;
        transform: scale(0.89);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
    }
}

#arrow-container {
    img {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 992px) {
    .bottom0 {
        bottom: 0;
        position: absolute !important;
    }
}
